---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contacto">
  <p class="w-25 m-3">Estamos encantados de saber de ti. Si tienes alguna pregunta, comentario o sugerencia, no dudes en ponerte en contacto con nosotros a través de este formulario. Nuestro equipo estará encantado de ayudarte en lo que necesites. ¡Esperamos con ansias colaborar contigo!</p>
  <br>
    <div class="m-3 w-25">
        <label for="exampleFormControlInput1" class="form-label">Dirección de Correo</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
      </div>
      <div class="m-3 w-25">
        <label for="exampleFormControlTextarea1" class="form-label">Envíe su solicitud</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
</Layout>