---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome To Astro.">
	<main class="container">
		<h1>Inicio</h1>
		<div class="row">
			<div class="col">
				<Card
					title="Hola"
					body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut tortor vel mi dictum bibendum. Mauris finibus, ligula in pharetra dignissim, metus quam pretium orci, ac scelerisque nisl nulla nec turpis. Quisque rutrum enim sit amet massa ultricies pellentesque. Duis vitae ultricies massa. Ut nibh velit, tempus in laoreet nec, viverra congue massa. Donec nec orci justo. Pellentesque convallis a turpis non porta. Ut sed ipsum congue, rhoncus turpis et, finibus nisl. Duis ultricies neque ex, vel dictum mi suscipit vitae."
					image="https://picsum.photos/300/300"
					href="https://astro.build" />
			</div>
			<div class="col">
				<Card
					title="Hola"
					body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut tortor vel mi dictum bibendum. Mauris finibus, ligula in pharetra dignissim, metus quam pretium orci, ac scelerisque nisl nulla nec turpis. Quisque rutrum enim sit amet massa ultricies pellentesque. Duis vitae ultricies massa. Ut nibh velit, tempus in laoreet nec, viverra congue massa. Donec nec orci justo. Pellentesque convallis a turpis non porta. Ut sed ipsum congue, rhoncus turpis et, finibus nisl. Duis ultricies neque ex, vel dictum mi suscipit vitae."
					image="https://picsum.photos/300/300"
					href="https://astro.build" />
			</div>
			<div class="col">
				<Card
					title="Hola"
					body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut tortor vel mi dictum bibendum. Mauris finibus, ligula in pharetra dignissim, metus quam pretium orci, ac scelerisque nisl nulla nec turpis. Quisque rutrum enim sit amet massa ultricies pellentesque. Duis vitae ultricies massa. Ut nibh velit, tempus in laoreet nec, viverra congue massa. Donec nec orci justo. Pellentesque convallis a turpis non porta. Ut sed ipsum congue, rhoncus turpis et, finibus nisl. Duis ultricies neque ex, vel dictum mi suscipit vitae."
					image="https://picsum.photos/300/300"
					href="https://astro.build" />
			</div>
			<div class="col">
				<Card
					title="Hola"
					body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut tortor vel mi dictum bibendum. Mauris finibus, ligula in pharetra dignissim, metus quam pretium orci, ac scelerisque nisl nulla nec turpis. Quisque rutrum enim sit amet massa ultricies pellentesque. Duis vitae ultricies massa. Ut nibh velit, tempus in laoreet nec, viverra congue massa. Donec nec orci justo. Pellentesque convallis a turpis non porta. Ut sed ipsum congue, rhoncus turpis et, finibus nisl. Duis ultricies neque ex, vel dictum mi suscipit vitae."
					image="https://picsum.photos/300/300"
					href="https://astro.build" />
			</div>
			<div class="col">
				<Card
					title="Hola"
					body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut tortor vel mi dictum bibendum. Mauris finibus, ligula in pharetra dignissim, metus quam pretium orci, ac scelerisque nisl nulla nec turpis. Quisque rutrum enim sit amet massa ultricies pellentesque. Duis vitae ultricies massa. Ut nibh velit, tempus in laoreet nec, viverra congue massa. Donec nec orci justo. Pellentesque convallis a turpis non porta. Ut sed ipsum congue, rhoncus turpis et, finibus nisl. Duis ultricies neque ex, vel dictum mi suscipit vitae."
					image="https://picsum.photos/300/300"
					href="https://astro.build" />
			</div>
			<div class="col">
				<Card
					title="Hola"
					body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut tortor vel mi dictum bibendum. Mauris finibus, ligula in pharetra dignissim, metus quam pretium orci, ac scelerisque nisl nulla nec turpis. Quisque rutrum enim sit amet massa ultricies pellentesque. Duis vitae ultricies massa. Ut nibh velit, tempus in laoreet nec, viverra congue massa. Donec nec orci justo. Pellentesque convallis a turpis non porta. Ut sed ipsum congue, rhoncus turpis et, finibus nisl. Duis ultricies neque ex, vel dictum mi suscipit vitae."
					image="https://picsum.photos/300/300"
					href="https://astro.build" />
			</div>
			<div class="col">
				<Card
					title="Hola"
					body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut tortor vel mi dictum bibendum. Mauris finibus, ligula in pharetra dignissim, metus quam pretium orci, ac scelerisque nisl nulla nec turpis. Quisque rutrum enim sit amet massa ultricies pellentesque. Duis vitae ultricies massa. Ut nibh velit, tempus in laoreet nec, viverra congue massa. Donec nec orci justo. Pellentesque convallis a turpis non porta. Ut sed ipsum congue, rhoncus turpis et, finibus nisl. Duis ultricies neque ex, vel dictum mi suscipit vitae."
					image="https://picsum.photos/300/300"
					href="https://astro.build" />
			</div>
			<div class="col">
				<Card
					title="Hola"
					body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut tortor vel mi dictum bibendum. Mauris finibus, ligula in pharetra dignissim, metus quam pretium orci, ac scelerisque nisl nulla nec turpis. Quisque rutrum enim sit amet massa ultricies pellentesque. Duis vitae ultricies massa. Ut nibh velit, tempus in laoreet nec, viverra congue massa. Donec nec orci justo. Pellentesque convallis a turpis non porta. Ut sed ipsum congue, rhoncus turpis et, finibus nisl. Duis ultricies neque ex, vel dictum mi suscipit vitae."
					image="https://picsum.photos/300/300"
					href="https://astro.build" />
			</div>
			<div class="col">
				<Card
					title="Hola"
					body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut tortor vel mi dictum bibendum. Mauris finibus, ligula in pharetra dignissim, metus quam pretium orci, ac scelerisque nisl nulla nec turpis. Quisque rutrum enim sit amet massa ultricies pellentesque. Duis vitae ultricies massa. Ut nibh velit, tempus in laoreet nec, viverra congue massa. Donec nec orci justo. Pellentesque convallis a turpis non porta. Ut sed ipsum congue, rhoncus turpis et, finibus nisl. Duis ultricies neque ex, vel dictum mi suscipit vitae."
					image="https://picsum.photos/300/300"
					href="https://astro.build" />
			</div>


		</div>

		
	</main>
</Layout>

<style>

</style>
