---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Nosotros">
    <h1 class="m-3">Nosotros</h1>
    <p class="w-25 m-3">En nuestra empresa, nos enorgullecemos de ofrecer soluciones innovadoras y de alta calidad a nuestros clientes. Nuestro equipo está compuesto por profesionales altamente capacitados y apasionados por lo que hacen, lo que nos permite brindar un servicio excepcional en cada proyecto. Estamos comprometidos con la excelencia, la integridad y la satisfacción del cliente en todo lo que hacemos. Con una sólida ética de trabajo y un enfoque centrado en el cliente, nos esforzamos por superar las expectativas y construir relaciones duraderas con aquellos a quienes servimos.</p>
    <a href="contacto" class="btn btn-primary m-3">Contacto</a>
    
</Layout>
